<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "Jordan_Story.jpg", width: 300, alt: "Profile Image" %>

  </div>


  <div class="col-md-8">
    <p> I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of your organization.

     A few skills I would like to highlight that would enable me to contribute to your bottom line are:

     <hr>

        * Skilled in designing, testing, and developing software
    <hr>
        * Thorough understanding of data structures
    <hr>
        * Knowledgeable of back-end development best practices
    <hr>
        * Hands-on software troubleshooting experience </p>



  </div>
</div>
